In [ ]:
from google.colab import files
uploaded=files.upload()

Saving 19CSE305_LabData_Set3.1.xlsx to 19CSE305_LabData_Set3.1.xlsx

In [ ]:
import pandas as pd
missing_values = ["n/a", "na", "--","?"]
df=pd.read_excel('/content/19CSE305_LabData_Set3.1.xlsx', sheet_name="thyroid0387_UCI",na_values = missing_values)
df

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,f,NaN,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128.0,f,NaN,f,NaN,f,NaN,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,11.0,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,26.0,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,36.0,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,F,f,f,f,f,f,f,f,...,t,148.0,t,1.44,t,103.0,f,NaN,STMW,NO CONDITION
996,841031010,41,F,f,f,f,f,f,f,f,...,t,9.7,t,1.46,t,6.6,f,NaN,other,F
997,841031030,20,F,f,f,f,f,t,f,f,...,f,NaN,f,NaN,f,NaN,t,30.0,other,NO CONDITION
998,841031031,20,F,f,f,f,f,f,f,f,...,t,201.0,t,0.84,t,240.0,f,NaN,SVI,AK
999,841031032,73,F,f,f,f,f,f,f,f,...,t,85.0,t,0.90,t,94.0,f,NaN,SVI,NO CONDITION

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Record ID                  1000 non-null   int64
 1   age                        1000 non-null   int64
 2   sex                        976 non-null    object
 3   on thyroxine               1000 non-null   object
 4   query on thyroxine         1000 non-null   object
 5   on antithyroid medication  1000 non-null   object
 6   sick                       1000 non-null   object
 7   pregnant                   1000 non-null   object
 8   thyroid surgery            1000 non-null   object
 9   I131 treatment             1000 non-null   object
 10  query hypothyroid          1000 non-null   object
 11  query hyperthyroid         1000 non-null   object
 12  lithium                    1000 non-null   object
 13  goitre                     1000 non-null   object
 14  tumor                      1000 non-null   object
 15  hypopituitary              1000 non-null   object
 16  psych                      1000 non-null   object
 17  TSH measured               1000 non-null   object
 18  TSH                        885 non-null    float64
 19  T3 measured                1000 non-null   object
 20  T3                         798 non-null    float64
 21  TT4 measured               1000 non-null   object
 22  TT4                        960 non-null    float64
 23  T4U measured               1000 non-null   object
 24  T4U                        902 non-null    float64
 25  FTI measured               1000 non-null   object
 26  FTI                        902 non-null    float64
 27  TBG measured               1000 non-null   object
 28  TBG                        36 non-null     float64
 29  referral source            1000 non-null   object
 30  Condition                  1000 non-null   object
dtypes: float64(6), int64(2), object(23)
memory usage: 242.3+ KB

In [ ]:
data_types = df.dtypes
print(data_types)

Record ID                      int64
age                            int64
sex                           object
on thyroxine                  object
query on thyroxine            object
on antithyroid medication     object
sick                          object
pregnant                      object
thyroid surgery               object
I131 treatment                object
query hypothyroid             object
query hyperthyroid            object
lithium                       object
goitre                        object
tumor                         object
hypopituitary                 object
psych                         object
TSH measured                  object
TSH                          float64
T3 measured                   object
T3                           float64
TT4 measured                  object
TT4                          float64
T4U measured                  object
T4U                          float64
FTI measured                  object
FTI                          float64
TBG measured                  object
TBG                          float64
referral source               object
Condition                     object
dtype: object

In [ ]:
df_encoded = pd.get_dummies(df, columns=['tumor','age','sex','on thyroxine','query on thyroxine','on antithyroid medication','thyroid surgery','I131 treatment','sick','pregnant','query hypothyroid','lithium','goitre','hypopituitary','psych','TSH measured','TSH','T3 measured','T3','TT4 measured','TT4','T4U measured','T4U','FTI measured','FTI','TBG measured','TBG','referral source','Condition'])
print(df_encoded)

     Record ID query hyperthyroid  tumor_f  tumor_t  age_1  age_2  age_6  \
0    840801013                  f        1        0      0      0      0
1    840801014                  f        1        0      0      0      0
2    840801042                  t        1        0      0      0      0
3    840803046                  f        1        0      0      0      0
4    840803047                  f        1        0      0      0      0
..         ...                ...      ...      ...    ...    ...    ...
995  841031002                  f        1        0      0      0      0
996  841031010                  f        1        0      0      0      0
997  841031030                  t        1        0      0      0      0
998  841031031                  f        1        0      0      0      0
999  841031032                  f        1        0      0      0      0

     age_8  age_9  age_10  ...  Condition_M  Condition_MI  Condition_MK  \
0        0      0       0  ...            0             0             0
1        0      0       0  ...            0             0             0
2        0      0       0  ...            0             0             0
3        0      0       0  ...            0             0             0
4        0      0       0  ...            0             0             0
..     ...    ...     ...  ...          ...           ...           ...
995      0      0       0  ...            0             0             0
996      0      0       0  ...            0             0             0
997      0      0       0  ...            0             0             0
998      0      0       0  ...            0             0             0
999      0      0       0  ...            0             0             0

     Condition_N  Condition_NO CONDITION  Condition_O  Condition_P  \
0              0                       1            0            0
1              0                       1            0            0
2              0                       1            0            0
3              0                       1            0            0
4              0                       0            0            0
..           ...                     ...          ...          ...
995            0                       1            0            0
996            0                       0            0            0
997            0                       1            0            0
998            0                       0            0            0
999            0                       1            0            0

     Condition_Q  Condition_R  Condition_S
0              0            0            0
1              0            0            0
2              0            0            0
3              0            0            0
4              0            0            1
..           ...          ...          ...
995            0            0            0
996            0            0            0
997            0            0            0
998            0            0            0
999            0            0            0

[1000 rows x 856 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Record ID                    1000 non-null   int64
 1   age                          1000 non-null   int64
 2   TSH                          885 non-null    float64
 3   T3                           798 non-null    float64
 4   TT4                          960 non-null    float64
 5   T4U                          902 non-null    float64
 6   FTI                          902 non-null    float64
 7   TBG                          36 non-null     float64
 8   referral source              1000 non-null   object
 9   Condition                    1000 non-null   object
 10  sex_F                        1000 non-null   uint8
 11  sex_M                        1000 non-null   uint8
 12  on thyroxine_f               1000 non-null   uint8
 13  on thyroxine_t               1000 non-null   uint8
 14  query on thyroxine_f         1000 non-null   uint8
 15  query on thyroxine_t         1000 non-null   uint8
 16  on antithyroid medication_f  1000 non-null   uint8
 17  on antithyroid medication_t  1000 non-null   uint8
 18  sick_f                       1000 non-null   uint8
 19  sick_t                       1000 non-null   uint8
 20  pregnant_f                   1000 non-null   uint8
 21  pregnant_t                   1000 non-null   uint8
 22  thyroid surgery_f            1000 non-null   uint8
 23  thyroid surgery_t            1000 non-null   uint8
 24  I131 treatment_f             1000 non-null   uint8
 25  I131 treatment_t             1000 non-null   uint8
 26  query hypothyroid_f          1000 non-null   uint8
 27  query hypothyroid_t          1000 non-null   uint8
 28  query hyperthyroid_f         1000 non-null   uint8
 29  query hyperthyroid_t         1000 non-null   uint8
 30  lithium_f                    1000 non-null   uint8
 31  goitre_f                     1000 non-null   uint8
 32  goitre_t                     1000 non-null   uint8
 33  tumor_f                      1000 non-null   uint8
 34  tumor_t                      1000 non-null   uint8
 35  hypopituitary_f              1000 non-null   uint8
 36  hypopituitary_t              1000 non-null   uint8
 37  psych_f                      1000 non-null   uint8
 38  psych_t                      1000 non-null   uint8
 39  TSH measured_f               1000 non-null   uint8
 40  TSH measured_t               1000 non-null   uint8
 41  T3 measured_f                1000 non-null   uint8
 42  T3 measured_t                1000 non-null   uint8
 43  TT4 measured_f               1000 non-null   uint8
 44  TT4 measured_t               1000 non-null   uint8
 45  T4U measured_f               1000 non-null   uint8
 46  T4U measured_t               1000 non-null   uint8
 47  FTI measured_f               1000 non-null   uint8
 48  FTI measured_t               1000 non-null   uint8
 49  TBG measured_f               1000 non-null   uint8
 50  TBG measured_t               1000 non-null   uint8
dtypes: float64(6), int64(2), object(2), uint8(41)
memory usage: 118.3+ KB

In [ ]:
df.describe()

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
count,1.000000e+03,1000.000000,885.000000,798.000000,960.000000,902.000000,902.000000,36.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,8.409340e+08,51.509000,6.559638,1.822243,106.447708,0.972040,114.600887,26.230556,0.67200,0.304000,...,0.202000,0.798000,0.040000,0.960000,0.098000,0.902000,0.098000,0.902000,0.964000,0.036000
std,7.628734e+04,18.776541,29.416767,0.806387,41.702870,0.206965,61.914009,8.074610,0.46972,0.460213,...,0.401693,0.401693,0.196057,0.196057,0.297463,0.297463,0.297463,0.297463,0.186383,0.186383
min,8.408010e+08,1.000000,0.050000,0.050000,3.000000,0.200000,2.500000,9.299999,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.409031e+08,35.000000,0.200000,1.400000,84.000000,0.860000,90.250000,21.000000,0.00000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
50%,8.409210e+08,55.000000,0.800000,1.800000,103.000000,0.960000,106.000000,25.500000,1.00000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,8.410111e+08,67.000000,2.000000,2.200000,124.000000,1.060000,126.000000,30.000000,1.00000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,8.410310e+08,97.000000,430.000000,8.599999,359.000000,1.860000,839.000000,53.000000,1.00000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.isnull().sum()

Record ID                        0
age                              0
TSH                            115
T3                             202
TT4                             40
T4U                             98
FTI                             98
TBG                            964
referral source                  0
Condition                        0
sex_F                            0
sex_M                            0
on thyroxine_f                   0
on thyroxine_t                   0
query on thyroxine_f             0
query on thyroxine_t             0
on antithyroid medication_f      0
on antithyroid medication_t      0
sick_f                           0
sick_t                           0
pregnant_f                       0
pregnant_t                       0
thyroid surgery_f                0
thyroid surgery_t                0
I131 treatment_f                 0
I131 treatment_t                 0
query hypothyroid_f              0
query hypothyroid_t              0
query hyperthyroid_f             0
query hyperthyroid_t             0
lithium_f                        0
goitre_f                         0
goitre_t                         0
tumor_f                          0
tumor_t                          0
hypopituitary_f                  0
hypopituitary_t                  0
psych_f                          0
psych_t                          0
TSH measured_f                   0
TSH measured_t                   0
T3 measured_f                    0
T3 measured_t                    0
TT4 measured_f                   0
TT4 measured_t                   0
T4U measured_f                   0
T4U measured_t                   0
FTI measured_f                   0
FTI measured_t                   0
TBG measured_f                   0
TBG measured_t                   0
dtype: int64

In [ ]:
Q1 = df['TSH'].quantile(0.25)
Q3 = df['TSH'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['TSH'] < lower_bound) | (df['TSH'] > upper_bound)]
print(outliers)

     Record ID  age sex on thyroxine query on thyroxine  \
18   840815067   63   F            t                  f
22   840816002   40   F            f                  f
39   840816047   55   F            t                  f
43   840816061   41   F            f                  f
53   840816095   59   F            t                  f
..         ...  ...  ..          ...                ...
950  841025079   42   F            f                  t
954  841026014   65   F            f                  f
960  841026061   68   F            t                  f
974  841029023   32   M            f                  f
996  841031010   41   F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
18                          f    t        f               f              f
22                          f    f        f               f              f
39                          f    f        f               f              f
43                          f    f        f               f              f
53                          f    f        f               f              t
..                        ...  ...      ...             ...            ...
950                         f    f        f               f              f
954                         f    f        f               f              f
960                         f    f        f               f              f
974                         f    f        f               f              f
996                         f    f        f               f              f

     ... TT4 measured    TT4 T4U measured   T4U FTI measured    FTI  \
18   ...            t   48.0            t  1.02            t   47.0
22   ...            t   88.0            t  0.84            t  105.0
39   ...            t  136.0            t  1.48            t   92.0
43   ...            t   33.0            t  1.07            t   31.0
53   ...            t   94.0            t  1.40            t   68.0
..   ...          ...    ...          ...   ...          ...    ...
950  ...            t   89.0            t  0.95            t   94.0
954  ...            t   98.0            t  1.16            t   98.0
960  ...            t   98.0            t  1.00            t   98.0
974  ...            t   16.0            t  0.95            t   17.0
996  ...            t    9.7            t  1.46            t    6.6

    TBG measured TBG  referral source     Condition
18             f NaN            other             F
22             f NaN            other  NO CONDITION
39             f NaN            other             M
43             f NaN            other             F
53             f NaN            other             M
..           ...  ..              ...           ...
950            f NaN            other             G
954            f NaN              SVI  NO CONDITION
960            f NaN            other  NO CONDITION
974            f NaN            other             F
996            f NaN            other             F

[112 rows x 31 columns]

In [ ]:
Q1 = df['T3'].quantile(0.25)
Q3 = df['T3'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['T3'] < lower_bound) | (df['T3'] > upper_bound)]
print(outliers)

     Record ID  age  sex on thyroxine query on thyroxine  \
31   840816011   85    M            f                  f
107  840822023   28    F            f                  f
117  840823002   83    F            f                  f
149  840823092   26    F            f                  f
151  840824001   58    F            f                  f
199  840829021   57    M            f                  f
254  840903084   27    F            f                  f
348  840910056   58    F            f                  f
354  840911020   62    F            f                  f
367  840912001   34    M            f                  f
372  840913004   31    F            f                  f
394  840913053   51    F            f                  f
427  840917043   72    F            f                  f
469  840920020   46  NaN            f                  f
494  840921002   34    F            f                  f
519  840924037   21    F            f                  f
597  841002002   34    M            f                  f
680  841008034   72    F            f                  f
711  841010001   32    F            f                  f
794  841016036   62    F            t                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
31                          f    f        f               f              f
107                         f    f        f               f              f
117                         f    f        f               f              f
149                         f    f        f               f              f
151                         f    f        f               f              f
199                         f    f        f               f              f
254                         f    f        t               t              f
348                         f    f        f               f              f
354                         f    f        f               f              f
367                         f    f        f               f              f
372                         f    f        f               f              f
394                         f    f        f               f              f
427                         f    f        f               f              f
469                         f    f        f               f              f
494                         f    f        f               f              f
519                         f    f        t               f              f
597                         f    f        f               f              f
680                         f    f        f               f              f
711                         f    f        f               f              f
794                         f    f        f               f              f

     ... TT4 measured    TT4 T4U measured   T4U FTI measured    FTI  \
31   ...            t   47.0            t  0.68            t   69.0
107  ...            t  170.0            t  1.83            t   93.0
117  ...            t  144.0            t  1.44            t  100.0
149  ...            t  150.0            t  1.56            t   96.0
151  ...            t  250.0            t  0.79            t  316.0
199  ...            t  236.0            t  0.70            t  337.0
254  ...            t  149.0            t  1.73            t   86.0
348  ...            t  202.0            t  0.80            t  253.0
354  ...            t  169.0            t  0.86            t  197.0
367  ...            t  242.0            t  1.02            t  237.0
372  ...            t  109.0            t  1.62            t   67.0
394  ...            t    4.0            t  1.11            t    3.5
427  ...            t  359.0            t  0.74            t  485.0
469  ...            t  124.0            t  0.29            t  428.0
494  ...            t  302.0            f   NaN            f    NaN
519  ...            t  162.0            t  1.76            t   92.0
597  ...            t  261.0            t  1.01            t  258.0
680  ...            t  230.0            t  0.77            t  299.0
711  ...            t  154.0            t  1.75            t   88.0
794  ...            t    4.0            t  1.27            t    3.0

    TBG measured TBG  referral source     Condition
31             f NaN              SVI  NO CONDITION
107            f NaN             STMW             I
117            f NaN            other             I
149            f NaN              SVI             I
151            f NaN            other             A
199            f NaN              SVI             A
254            f NaN            other             I
348            f NaN            other             A
354            f NaN            other             A
367            f NaN            other             A
372            f NaN             STMW             I
394            f NaN            other  NO CONDITION
427            f NaN            other             A
469            f NaN            other             D
494            f NaN             STMW             A
519            f NaN             STMW             I
597            f NaN            other             A
680            f NaN            other             A
711            f NaN             STMW             I
794            f NaN              SVI             F

[20 rows x 31 columns]

In [ ]:
Q1 = df['TT4'].quantile(0.25)
Q3 = df['TT4'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['TT4'] < lower_bound) | (df['TT4'] > upper_bound)]
print(outliers)

     Record ID  age sex on thyroxine query on thyroxine  \
79   840820014   27   F            f                  f
100  840821049   38   M            f                  f
136  840823044   68   F            t                  f
151  840824001   58   F            f                  f
155  840824011   73   F            t                  f
..         ...  ...  ..          ...                ...
974  841029023   32   M            f                  f
979  841029050   30   F            t                  f
991  841030049   62   F            f                  f
996  841031010   41   F            f                  f
998  841031031   20   F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
79                          f    f        f               f              f
100                         f    f        f               f              f
136                         f    f        f               f              f
151                         f    f        f               f              f
155                         f    f        f               f              f
..                        ...  ...      ...             ...            ...
974                         f    f        f               f              f
979                         f    f        f               f              f
991                         f    f        f               f              f
996                         f    f        f               f              f
998                         f    f        f               f              f

     ... TT4 measured    TT4 T4U measured   T4U FTI measured    FTI  \
79   ...            t    7.5            t  0.94            t    7.5
100  ...            t  308.0            t  0.87            t  354.0
136  ...            t  196.0            t  0.92            t  213.0
151  ...            t  250.0            t  0.79            t  316.0
155  ...            t  210.0            t  1.22            t  172.0
..   ...          ...    ...          ...   ...          ...    ...
974  ...            t   16.0            t  0.95            t   17.0
979  ...            t  202.0            t  1.74            t  116.0
991  ...            t  198.0            t  0.94            t  211.0
996  ...            t    9.7            t  1.46            t    6.6
998  ...            t  201.0            t  0.84            t  240.0

    TBG measured TBG  referral source Condition
79             f NaN            other         F
100            f NaN            other         A
136            f NaN            other         N
151            f NaN            other         A
155            f NaN            other         N
..           ...  ..              ...       ...
974            f NaN            other         F
979            f NaN             STMW         I
991            f NaN              SVI        AK
996            f NaN            other         F
998            f NaN              SVI        AK

[68 rows x 31 columns]

In [ ]:
Q1 = df['T4U'].quantile(0.25)
Q3 = df['T4U'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['T4U'] < lower_bound) | (df['T4U'] > upper_bound)]
print(outliers)

     Record ID  age  sex on thyroxine query on thyroxine  \
33   840816014   71    F            t                  f
36   840816028   51    F            f                  f
39   840816047   55    F            t                  f
53   840816095   59    F            t                  f
107  840822023   28    F            f                  f
117  840823002   83    F            f                  f
149  840823092   26    F            f                  f
169  840827025   18  NaN            f                  f
170  840827028   18  NaN            f                  f
186  840828034   49    F            f                  f
218  840830045   24    F            t                  f
228  840831049   73    M            f                  f
235  840903003   47    M            f                  f
239  840903007   72    M            f                  f
242  840903010   71    F            f                  f
254  840903084   27    F            f                  f
260  840904009   32    F            t                  f
270  840904047   33    F            f                  f
292  840906011   41  NaN            f                  f
293  840906012   41  NaN            f                  f
314  840906077   56    M            t                  f
315  840906081   56    F            f                  t
337  840910013   19    M            f                  f
344  840910046   29    F            f                  f
351  840910069   77    F            f                  f
353  840911016   22    F            f                  f
370  840912005   24    F            f                  f
372  840913004   31    F            f                  f
399  840914002   30    F            t                  f
413  840914051   51    M            f                  f
420  840917009   54    F            f                  f
446  840918062   72    F            f                  f
463  840920006   79    M            f                  f
469  840920020   46  NaN            f                  f
470  840920021   46  NaN            f                  f
471  840920028   27    F            t                  f
487  840920078   50    F            f                  f
517  840924035   30    F            t                  f
518  840924036   25    F            t                  f
519  840924037   21    F            f                  f
556  840927018   30    F            t                  f
579  840927074   73    F            f                  f
642  841004015   27    F            f                  f
653  841004061   28    F            f                  f
655  841004063   62  NaN            f                  f
656  841004064   62  NaN            f                  f
666  841005014   53    F            f                  f
682  841008045   46    F            t                  f
703  841009070   55    F            f                  f
711  841010001   32    F            f                  f
734  841011018   27    F            t                  f
823  841017055   47  NaN            f                  f
824  841017056   47  NaN            f                  f
881  841022014   29    F            f                  f
890  841023019   34    F            f                  f
979  841029050   30    F            t                  f
981  841029053   17    F            f                  f
995  841031002   41    F            f                  f
996  841031010   41    F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
33                          f    f        f               f              f
36                          f    f        f               f              f
39                          f    f        f               f              f
53                          f    f        f               f              t
107                         f    f        f               f              f
117                         f    f        f               f              f
149                         f    f        f               f              f
169                         f    f        t               f              f
170                         f    f        f               f              f
186                         f    t        f               f              f
218                         f    f        f               f              f
228                         f    f        f               f              f
235                         f    f        f               f              f
239                         f    f        f               f              f
242                         f    f        f               f              f
254                         f    f        t               t              f
260                         f    f        t               f              f
270                         f    f        f               f              f
292                         f    f        f               f              f
293                         f    f        f               f              f
314                         f    f        f               f              f
315                         f    f        f               f              f
337                         f    f        f               f              f
344                         f    f        f               t              f
351                         f    f        f               f              t
353                         f    f        t               f              f
370                         f    f        t               f              f
372                         f    f        f               f              f
399                         f    f        f               f              f
413                         f    f        f               f              f
420                         f    f        f               f              f
446                         f    f        f               f              f
463                         f    f        f               f              f
469                         f    f        f               f              f
470                         f    f        f               f              f
471                         f    f        f               f              f
487                         f    f        f               t              f
517                         f    f        f               f              f
518                         f    f        t               f              f
519                         f    f        t               f              f
556                         f    f        t               f              f
579                         f    t        f               f              f
642                         f    f        f               f              f
653                         f    f        f               f              f
655                         f    f        f               f              f
656                         f    f        f               f              f
666                         f    f        f               f              f
682                         f    f        f               f              f
703                         f    f        f               f              f
711                         f    f        f               f              f
734                         f    f        f               f              f
823                         f    f        f               f              f
824                         f    f        f               f              f
881                         f    f        f               f              f
890                         f    f        t               f              f
979                         f    f        f               f              f
981                         f    f        t               f              f
995                         f    f        f               f              f
996                         f    f        f               f              f

     ... TT4 measured    TT4 T4U measured   T4U FTI measured    FTI  \
33   ...            t  126.0            t  1.38            t   91.0
36   ...            t  104.0            t  1.57            t   66.0
39   ...            t  136.0            t  1.48            t   92.0
53   ...            t   94.0            t  1.40            t   68.0
107  ...            t  170.0            t  1.83            t   93.0
117  ...            t  144.0            t  1.44            t  100.0
149  ...            t  150.0            t  1.56            t   96.0
169  ...            t   87.0            t  0.32            t  272.0
170  ...            t   84.0            t  0.32            t  263.0
186  ...            t   27.0            t  0.52            t   52.0
218  ...            t  106.0            t  1.51            t   70.0
228  ...            t   44.0            t  0.55            t   80.0
235  ...            t    6.0            t  1.45            t    4.0
239  ...            t   15.0            t  1.48            t   10.0
242  ...            t  144.0            t  1.79            t   80.0
254  ...            t  149.0            t  1.73            t   86.0
260  ...            t  178.0            t  1.68            t  106.0
270  ...            t  151.0            t  1.43            t  106.0
292  ...            t  222.0            t  0.35            t  634.0
293  ...            t  195.0            t  0.30            t  650.0
314  ...            t   33.0            t  0.20            t  165.0
315  ...            t  167.0            t  1.41            t  118.0
337  ...            t   55.0            t  0.53            t  104.0
344  ...            t   90.0            t  1.48            t   61.0
351  ...            t  114.0            t  1.52            t   75.0
353  ...            t  149.0            t  1.38            t  108.0
370  ...            t  151.0            t  1.53            t   99.0
372  ...            t  109.0            t  1.62            t   67.0
399  ...            t   61.0            t  1.66            t   37.0
413  ...            t   77.0            t  0.40            t  193.0
420  ...            t  144.0            t  1.44            t  100.0
446  ...            t  106.0            t  1.86            t  123.0
463  ...            t  119.0            t  1.59            t   75.0
469  ...            t  124.0            t  0.29            t  428.0
470  ...            t  153.0            t  0.34            t  450.0
471  ...            t  166.0            t  1.43            t  116.0
487  ...            t  141.0            t  1.44            t   98.0
517  ...            t  109.0            t  1.79            t   61.0
518  ...            t  143.0            t  1.66            t   86.0
519  ...            t  162.0            t  1.76            t   92.0
556  ...            t  123.0            t  1.73            t   71.0
579  ...            t   98.0            t  0.55            t  178.0
642  ...            t   80.0            t  1.71            t   41.0
653  ...            t  151.0            t  1.45            t  104.0
655  ...            t  260.0            t  0.31            t  839.0
656  ...            t  113.0            t  0.34            t  332.0
666  ...            t   86.0            t  0.49            t  176.0
682  ...            t  133.0            t  0.50            t  266.0
703  ...            t   55.0            t  0.55            t  100.0
711  ...            t  154.0            t  1.75            t   88.0
734  ...            t  134.0            t  1.41            t   95.0
823  ...            t   58.0            t  0.36            t  161.0
824  ...            t  176.0            t  0.32            t  550.0
881  ...            t   91.0            t  1.42            t   64.0
890  ...            t  202.0            t  1.51            t  134.0
979  ...            t  202.0            t  1.74            t  116.0
981  ...            t  143.0            t  1.43            t  100.0
995  ...            t  148.0            t  1.44            t  103.0
996  ...            t    9.7            t  1.46            t    6.6

    TBG measured TBG  referral source     Condition
33             f NaN            other             I
36             f NaN              SVI  NO CONDITION
39             f NaN            other             M
53             f NaN            other             M
107            f NaN             STMW             I
117            f NaN            other             I
149            f NaN              SVI             I
169            f NaN            other             R
170            f NaN            other            KJ
186            f NaN              SVI  NO CONDITION
218            f NaN            other             M
228            f NaN            other             J
235            f NaN            other             F
239            f NaN              SVI             F
242            f NaN            other             I
254            f NaN            other             I
260            f NaN            other           C|I
270            f NaN              SVI  NO CONDITION
292            f NaN            other             R
293            f NaN            other             R
314            f NaN            other            LJ
315            f NaN            other             L
337            f NaN            other             J
344            f NaN              SVI  NO CONDITION
351            f NaN            other             G
353            f NaN             WEST             I
370            f NaN             STMW  NO CONDITION
372            f NaN             STMW             I
399            f NaN             STMW             I
413            f NaN              SVI             R
420            f NaN            other  NO CONDITION
446            f NaN              SVI  NO CONDITION
463            f NaN              SVI             I
469            f NaN            other             D
470            f NaN            other             R
471            f NaN            other  NO CONDITION
487            f NaN            other  NO CONDITION
517            f NaN             STMW            MI
518            f NaN             STMW  NO CONDITION
519            f NaN             STMW             I
556            f NaN             STMW             M
579            f NaN              SVI            KJ
642            f NaN            other  NO CONDITION
653            f NaN            other  NO CONDITION
655            f NaN            other             A
656            f NaN            other             A
666            f NaN            other  NO CONDITION
682            f NaN            other  NO CONDITION
703            f NaN            other             J
711            f NaN             STMW             I
734            f NaN            other  NO CONDITION
823            f NaN            other  NO CONDITION
824            f NaN            other             R
881            f NaN            other             I
890            f NaN             STMW             I
979            f NaN             STMW             I
981            f NaN             STMW             I
995            f NaN             STMW  NO CONDITION
996            f NaN            other             F

[59 rows x 31 columns]

In [ ]:
Q1 = df['TBG'].quantile(0.25)
Q3 = df['TBG'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['TBG'] < lower_bound) | (df['TBG'] > upper_bound)]
print(outliers)

     Record ID  age sex on thyroxine query on thyroxine  \
868  841019084   59   F            f                  f

    on antithyroid medication sick pregnant thyroid surgery I131 treatment  \
868                         f    f        f               f              f

     ... TT4 measured TT4 T4U measured T4U FTI measured FTI TBG measured  \
868  ...            f NaN            f NaN            f NaN            t

      TBG  referral source Condition
868  53.0            other         S

[1 rows x 31 columns]

In [ ]:
Q1 = df['FTI'].quantile(0.25)
Q3 = df['FTI'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['FTI'] < lower_bound) | (df['FTI'] > upper_bound)]
print(outliers)

     Record ID  age    TSH   T3    TT4   T4U    FTI  TBG referral source  \
43   840816061   41  140.0  NaN   33.0  1.07   31.0  NaN           other
79   840820014   27   90.0  0.4    7.5  0.94    7.5  NaN           other
100  840821049   38    NaN  NaN  308.0  0.87  354.0  NaN           other
136  840823044   68    0.1  1.8  196.0  0.92  213.0  NaN           other
151  840824001   58    NaN  7.6  250.0  0.79  316.0  NaN           other
..         ...  ...    ...  ...    ...   ...    ...  ...             ...
972  841029020   55    0.1  NaN  196.0  0.94  208.0  NaN           other
974  841029023   32  150.0  0.4   16.0  0.95   17.0  NaN           other
991  841030049   62    0.1  1.5  198.0  0.94  211.0  NaN             SVI
996  841031010   41   53.0  0.4    9.7  1.46    6.6  NaN           other
998  841031031   20    0.1  0.8  201.0  0.84  240.0  NaN             SVI

    Condition  ...  T3 measured_f  T3 measured_t  TT4 measured_f  \
43          F  ...              1              0               0
79          F  ...              0              1               0
100         A  ...              1              0               0
136         N  ...              0              1               0
151         A  ...              0              1               0
..        ...  ...            ...            ...             ...
972         N  ...              1              0               0
974         F  ...              0              1               0
991        AK  ...              0              1               0
996         F  ...              0              1               0
998        AK  ...              0              1               0

     TT4 measured_t  T4U measured_f  T4U measured_t  FTI measured_f  \
43                1               0               1               0
79                1               0               1               0
100               1               0               1               0
136               1               0               1               0
151               1               0               1               0
..              ...             ...             ...             ...
972               1               0               1               0
974               1               0               1               0
991               1               0               1               0
996               1               0               1               0
998               1               0               1               0

     FTI measured_t  TBG measured_f  TBG measured_t
43                1               1               0
79                1               1               0
100               1               1               0
136               1               1               0
151               1               1               0
..              ...             ...             ...
972               1               1               0
974               1               1               0
991               1               1               0
996               1               1               0
998               1               1               0

[88 rows x 51 columns]

In [ ]:
TBG_var=df['TBG'].var()
TBG_var

65.19932636428574

In [ ]:
age_mean=df['age'].mean()
age_mean

51.509

In [ ]:
age_var=df['age'].var()
age_var

352.5584774774775

In [ ]:
TBG_mean=df['TBG'].mean()
TBG_mean

26.23055552777778

In [ ]:
TBG_median=df['TBG'].median()
TBG_median

25.5

In [ ]:
FTI_median=df['FTI'].median()
FTI_median

106.0

In [ ]:
T4U_median=df['T4U'].median()
T4U_median

0.96

In [ ]:
TT4_median=df['TT4'].median()
TT4_median

103.0

In [ ]:
T3_median=df['T3'].median()
T3_median

1.8

In [ ]:
TSH_median=df['TSH'].median()
TSH_median

0.8

In [ ]:
df['T3'].fillna(T3_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,NaN,NaN,NaN,NaN,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,NaN,NaN,NaN,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,NaN,1.8,NaN,NaN,NaN,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,NaN,1.8,NaN,NaN,NaN,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,NaN,1.8,NaN,NaN,NaN,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,NaN,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,NaN,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,NaN,1.8,NaN,NaN,NaN,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,NaN,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,NaN,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df['TSH'].fillna(TSH_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,NaN,NaN,NaN,NaN,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,NaN,NaN,NaN,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,0.8,1.8,NaN,NaN,NaN,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,0.8,1.8,NaN,NaN,NaN,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,0.8,1.8,NaN,NaN,NaN,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,NaN,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,NaN,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,0.8,1.8,NaN,NaN,NaN,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,NaN,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,NaN,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df['TT4'].fillna(TT4_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,103.0,NaN,NaN,NaN,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,NaN,NaN,NaN,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,0.8,1.8,103.0,NaN,NaN,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,0.8,1.8,103.0,NaN,NaN,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,0.8,1.8,103.0,NaN,NaN,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,NaN,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,NaN,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,0.8,1.8,103.0,NaN,NaN,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,NaN,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,NaN,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df['T4U'].fillna(T4U_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,103.0,0.96,NaN,NaN,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,0.96,NaN,NaN,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,0.8,1.8,103.0,0.96,NaN,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,0.8,1.8,103.0,0.96,NaN,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,0.8,1.8,103.0,0.96,NaN,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,NaN,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,NaN,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,0.8,1.8,103.0,0.96,NaN,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,NaN,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,NaN,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df['TBG'].fillna(TBG_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,103.0,0.96,NaN,25.5,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,0.96,NaN,25.5,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,0.8,1.8,103.0,0.96,NaN,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,0.8,1.8,103.0,0.96,NaN,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,0.8,1.8,103.0,0.96,NaN,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,25.5,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,25.5,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,0.8,1.8,103.0,0.96,NaN,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,25.5,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,25.5,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df['FTI'].fillna(FTI_median, inplace=True)
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,29,0.3,1.8,103.0,0.96,106.0,25.5,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,29,1.6,1.9,128.0,0.96,106.0,25.5,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,41,0.8,1.8,103.0,0.96,106.0,11.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,36,0.8,1.8,103.0,0.96,106.0,26.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,32,0.8,1.8,103.0,0.96,106.0,36.0,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,0.1,2.1,148.0,1.44,103.0,25.5,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,41,53.0,0.4,9.7,1.46,6.6,25.5,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,20,0.8,1.8,103.0,0.96,106.0,30.0,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,20,0.1,0.8,201.0,0.84,240.0,25.5,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,73,3.3,1.2,85.0,0.90,94.0,25.5,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df.isnull().sum()

Record ID                      0
age                            0
TSH                            0
T3                             0
TT4                            0
T4U                            0
FTI                            0
TBG                            0
referral source                0
Condition                      0
sex_F                          0
sex_M                          0
on thyroxine_f                 0
on thyroxine_t                 0
query on thyroxine_f           0
query on thyroxine_t           0
on antithyroid medication_f    0
on antithyroid medication_t    0
sick_f                         0
sick_t                         0
pregnant_f                     0
pregnant_t                     0
thyroid surgery_f              0
thyroid surgery_t              0
I131 treatment_f               0
I131 treatment_t               0
query hypothyroid_f            0
query hypothyroid_t            0
query hyperthyroid_f           0
query hyperthyroid_t           0
lithium_f                      0
goitre_f                       0
goitre_t                       0
tumor_f                        0
tumor_t                        0
hypopituitary_f                0
hypopituitary_t                0
psych_f                        0
psych_t                        0
TSH measured_f                 0
TSH measured_t                 0
T3 measured_f                  0
T3 measured_t                  0
TT4 measured_f                 0
TT4 measured_t                 0
T4U measured_f                 0
T4U measured_t                 0
FTI measured_f                 0
FTI measured_t                 0
TBG measured_f                 0
TBG measured_t                 0
dtype: int64

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scale = ['age','TSH','T3','TT4','T4U','FTI','TBG']
df[scale] = scaler.fit_transform(df[scale])
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,840801013,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,other,NO CONDITION,...,1,0,1,0,1,0,1,0,1,0
1,840801014,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,other,NO CONDITION,...,0,1,0,1,1,0,1,0,1,0
2,840801042,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
3,840803046,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
4,840803047,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,other,S,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,STMW,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0
996,841031010,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,other,F,...,0,1,0,1,0,1,0,1,1,0
997,841031030,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,other,NO CONDITION,...,1,0,1,0,1,0,1,0,0,1
998,841031031,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,SVI,AK,...,0,1,0,1,0,1,0,1,1,0
999,841031032,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,SVI,NO CONDITION,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df.drop('Record ID', axis=1, inplace=True)
df

,age,TSH,T3,TT4,T4U,FTI,TBG,referral source,Condition,sex_F,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,other,NO CONDITION,1,...,1,0,1,0,1,0,1,0,1,0
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,other,NO CONDITION,1,...,0,1,0,1,1,0,1,0,1,0
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,other,NO CONDITION,1,...,1,0,1,0,1,0,1,0,0,1
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,other,NO CONDITION,1,...,1,0,1,0,1,0,1,0,0,1
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,other,S,1,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,STMW,NO CONDITION,1,...,0,1,0,1,0,1,0,1,1,0
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,other,F,1,...,0,1,0,1,0,1,0,1,1,0
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,other,NO CONDITION,1,...,1,0,1,0,1,0,1,0,0,1
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,SVI,AK,1,...,0,1,0,1,0,1,0,1,1,0
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,SVI,NO CONDITION,1,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df.drop('referral source', axis=1, inplace=True)
df

,age,TSH,T3,TT4,T4U,FTI,TBG,Condition,sex_F,sex_M,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,1,0
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,NO CONDITION,1,0,...,0,1,0,1,1,0,1,0,1,0
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,S,1,0,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,NO CONDITION,1,0,...,0,1,0,1,0,1,0,1,1,0
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,F,1,0,...,0,1,0,1,0,1,0,1,1,0
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,AK,1,0,...,0,1,0,1,0,1,0,1,1,0
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,NO CONDITION,1,0,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
df

,age,TSH,T3,TT4,T4U,FTI,TBG,Condition,sex_F,sex_M,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,1,0
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,NO CONDITION,1,0,...,0,1,0,1,1,0,1,0,1,0
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,S,1,0,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,NO CONDITION,1,0,...,0,1,0,1,0,1,0,1,1,0
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,F,1,0,...,0,1,0,1,0,1,0,1,1,0
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,NO CONDITION,1,0,...,1,0,1,0,1,0,1,0,0,1
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,AK,1,0,...,0,1,0,1,0,1,0,1,1,0
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,NO CONDITION,1,0,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
Condition = df[['Condition']]

In [ ]:
df.drop('Condition',axis = 1 ,inplace=True)

In [ ]:
df['Condition'] = Condition

In [ ]:
df

,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,on thyroxine_f,...,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t,Condition
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,0,NO CONDITION
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,1,0,1,...,1,0,1,1,0,1,0,1,0,NO CONDITION
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,1,0,1,...,0,1,0,1,0,1,0,0,1,NO CONDITION
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,1,0,1,...,0,1,0,1,0,1,0,0,1,NO CONDITION
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,1,0,1,...,0,1,0,1,0,1,0,0,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,1,0,1,...,1,0,1,0,1,0,1,1,0,NO CONDITION
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,1,0,1,...,1,0,1,0,1,0,1,1,0,F
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,1,0,1,...,0,1,0,1,0,1,0,0,1,NO CONDITION
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,1,0,1,...,1,0,1,0,1,0,1,1,0,AK
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,1,0,1,...,1,0,1,0,1,0,1,1,0,NO CONDITION

In [ ]:
x = df.iloc[:,0:48]
x

,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,on thyroxine_f,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,1,0,1,...,1,0,1,0,1,0,1,0,1,0
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,1,0,1,...,0,1,0,1,1,0,1,0,1,0
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,1,0,1,...,1,0,1,0,1,0,1,0,0,1
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,1,0,1,...,1,0,1,0,1,0,1,0,0,1
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,1,0,1,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,1,0,1,...,1,0,1,0,1,0,1,0,0,1
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
y = df.iloc[:,48]
y

0      NO CONDITION
1      NO CONDITION
2      NO CONDITION
3      NO CONDITION
4                 S
           ...
995    NO CONDITION
996               F
997    NO CONDITION
998              AK
999    NO CONDITION
Name: Condition, Length: 1000, dtype: object

In [ ]:
v1 = df['pregnant_f']
v2 = df['sex_F']
f11 = sum([1 for a, b in zip(v1, v2) if a == b == 1])
f01 = sum([1 for a, b in zip(v1, v2) if a == 0 and b == 1])
f10 = sum([1 for a, b in zip(v1, v2) if a == 1 and b == 0])
f00 = sum([1 for a, b in zip(v1, v2) if a == b == 0])
print(f00,f01,f10,f11)

1 13 327 659

In [ ]:
SMC = (f11 + f00) / (f00 + f01 + f10 + f11)
SMC

0.66

In [ ]:
JC = f11 / (f01 + f10 + f11)
JC

0.6596596596596597

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
vec1 = np.array(v1).reshape(1, -1)
vec2 = np.array(v2).reshape(1, -1)
cosine_sim = cosine_similarity(vec1, vec2)

In [ ]:
cosine_sim

array([[0.80958475]])

In [ ]:
df.drop('Condition',axis=1, inplace=True)
df

,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,on thyroxine_f,...,T3 measured_f,T3 measured_t,TT4 measured_f,TT4 measured_t,T4U measured_f,T4U measured_t,FTI measured_f,FTI measured_t,TBG measured_f,TBG measured_t
0,0.291667,0.000581,0.204678,0.280899,0.457831,0.123730,0.370709,1,0,1,...,1,0,1,0,1,0,1,0,1,0
1,0.291667,0.003605,0.216374,0.351124,0.457831,0.123730,0.370709,1,0,1,...,0,1,0,1,1,0,1,0,1,0
2,0.416667,0.001744,0.204678,0.280899,0.457831,0.123730,0.038902,1,0,1,...,1,0,1,0,1,0,1,0,0,1
3,0.364583,0.001744,0.204678,0.280899,0.457831,0.123730,0.382151,1,0,1,...,1,0,1,0,1,0,1,0,0,1
4,0.322917,0.001744,0.204678,0.280899,0.457831,0.123730,0.610984,1,0,1,...,1,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.416667,0.000116,0.239766,0.407303,0.746988,0.120143,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
996,0.416667,0.123154,0.040936,0.018820,0.759036,0.004901,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
997,0.197917,0.001744,0.204678,0.280899,0.457831,0.123730,0.473684,1,0,1,...,1,0,1,0,1,0,1,0,0,1
998,0.197917,0.000116,0.087719,0.556180,0.385542,0.283921,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0
999,0.750000,0.007559,0.134503,0.230337,0.421687,0.109384,0.370709,1,0,1,...,0,1,0,1,0,1,0,1,1,0

In [ ]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
import matplotlib.pyplot as plt

jc_matrix = np.zeros((20, 20))
smc_matrix = np.zeros((20, 20))
cosine_matrix = np.zeros((20, 20))

for i in range(20):
    for j in range(i, 20):
        f11 = sum([1 for a, b in zip(df.iloc[i], df.iloc[j]) if a == b == 1])
        f01 = sum([1 for a, b in zip(df.iloc[i], df.iloc[j]) if a == 0 and b == 1])
        f10 = sum([1 for a, b in zip(df.iloc[i], df.iloc[j]) if a == 1 and b == 0])
        f00 = sum([1 for a, b in zip(df.iloc[i],df.iloc[j]) if a == b == 0])
        jc = f11 / (f01 + f10 + f11)
        smc = (f11 + f00) / (f00 + f01 + f10 + f11)
        jc_matrix[i, j] = jc
        jc_matrix[j, i] = jc
        smc_matrix[i, j] = smc
        smc_matrix[j, i] = smc

cosine_matrix = cosine_similarity(df)

fig, axes = plt.subplots(1, 3, figsize=(15, 5))

sns.heatmap(jc_matrix, annot=True, cmap='coolwarm', ax=axes[0], square=True)
axes[0].set_title('Jaccard Coefficient')

sns.heatmap(smc_matrix, annot=True, cmap='coolwarm', ax=axes[1], square=True)
axes[1].set_title('Simple Matching Coefficient')

sns.heatmap(cosine_matrix, annot=True, cmap='coolwarm', ax=axes[2], square=True)
axes[2].set_title('Cosine Similarity')

plt.tight_layout()
plt.show()

KeyboardInterrupt: ignored